{% extends 'guide_base.html' %}
{% block content %}
    <div class="nes-container with-title  is-centered layui-col-sm12" style="top: 100px;">
        <p class="title">Choose!</p>
        <div class="layui-row">
            <div class="layui-col-sm2">
                <i class="nes-mario"></i>
            </div>
            <div class="layui-col-sm10">
                <p style="font-size: 20px">
                    You may be here for the first time.<br>
                    Choose your identity for the next step.
                </p>
                <div class="layui-row">
                    <div class="layui-col-sm12">
                        <a href="choose_Identity/student">
                            <div class="nes-container with-title nes-btn layui-col-sm12">
                                <div class="layui-row">
                                    <div class="layui-col-sm4">
                                        <i class="nes-ash"></i>
                                    </div>
                                    <div class="layui-col-sm4 layui-col-sm-offset2">
                                        <p style="font-size: 30px">Student.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="choose_Identity/teacher">
                            <div class="nes-container with-title nes-btn layui-col-sm12">
                                <div class="layui-row">
                                    <div class="layui-col-sm4">
                                        <i class="nes-charmander"></i>
                                    </div>
                                    <div class="layui-col-sm4 layui-col-sm-offset2">
                                        <p style="font-size: 30px">Teacher.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="choose_Identity/manager">
                            <div class="nes-container with-title nes-btn layui-col-sm12">
                                <div class="layui-row">
                                    <div class="layui-col-sm4">
                                        <i class="nes-bulbasaur"></i>
                                    </div>
                                    <div class="layui-col-sm4 layui-col-sm-offset2">
                                        <p style="font-size: 30px">Manager.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}