{% extends 'base.html' %}
{% block title %}
    StudentInfo
{% endblock %}
{% block app_content %}
    <div class="layui-row">
        <div class="layui-col-space8">
            <div class="layui-col-sm3">
                <div class="layui-anim layui-anim-upbit">
                    <div class="jumbotron">
                        <img src="../static/user.jpg" class="img-circle" width="100%">
                        <dl>
                            {% for info in infos %}
                                <dt>
                                    {{ info.key }}
                                </dt>
                                <dd>
                                    {{ info.value }}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm9">
                <div class="layui-anim layui-anim-scale">
                    <div class="jumbotron">
                        <h1>
                            Hello, world!
                        </h1>
                        <p>
                            This is a template for a simple marketing or informational website. It includes a large
                            callout
                            called the hero unit and three supporting pieces of content. Use it as a starting point to
                            create
                            something more unique.
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" href="#first-semester">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-sm12 layui-anim layui-anim-scale">
            {% for semester_name,semesters in semesters.items() %}
                <a id="{{ 'first-semester' if semester_name=='高一上学期' else '' }}"
                   class="semester-{{ semester_name }}">
                    <h2>
                        <strong>{{ semester_name }}</strong>
                    </h2>
                </a>
                <script>
                    layui.use('layer', function () {
                        let $ = layui.jquery, layer = layui.layer;
                        $('.semester-{{ semester_name }}').on('click', function () {
                            layer.open({
                                type: 1,
                                area: ['auto', '100px'],
                                content: '<a type="button" class="layui-btn layui-btn-radius" href="/test_info/{{semesters[0].test_time}}"' +
                                    '>{{semesters[0].test_name}}</a>\n' +
                                    '<a type="button" class="layui-btn layui-btn-radius" href="/test_info/{{semesters[1].test_time}}"' +
                                    '>{{semesters[1].test_name}}</a>\n' +
                                    '<a type="button" class="layui-btn layui-btn-radius" href="/test_info/{{semesters[2].test_time}}"' +
                                    '>{{semesters[2].test_name}}</a>',
                                btnAlign: 'c', //按钮居中
                                shade: 0.2,
                                yes: function () {
                                    layer.closeAll();
                                }
                            });
                        });
                    });
                </script>
                <div class="layui-tab layui-tab-brief" lay-filter="{{ semester_name }}">
                    <ul class="layui-tab-title">
                        {% for semester in semesters %}
                            <li lay-id="{{ semester.test_name }}">{{ semester.test_name }}</li>
                        {% endfor %}
                    </ul>
                    <div class="layui-tab-content">
                        {% for semester in semesters %}
                            <div class="layui-tab-item">
                                <table class="layui-hide" id="grade_analysis_table_{{ semester.index }}"></table>
                                <div class="col-md-7 column">
                                    <div id="grade_compared_chart-{{ semester.index }}"
                                         style="width: 115%; height:430px;
                                     margin-left: -10%;margin-right: 5%;
                                 "></div>
                                </div>
                                <div class="col-md-5 column">
                                    <div id="ranking_radar_chart-{{ semester.index }}"
                                         style="width: 125%;height:430px;
                                     margin-left: -10%;margin-right: 15%;
                                 "></div>
                                </div>
                                {#TODO:转用Layui Tab#}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <script>
                    layui.use('element', function () {
                        let element = layui.element;
                        let index2grade_id = {};
                        element.on('tab({{ semester_name }})', function (data) {
                            console.log('{{ semester_name }}');
                            index2grade_id[0] = '{{ semesters[0].grade_id }}';
                            index2grade_id[1] = '{{ semesters[1].grade_id }}';
                            index2grade_id[2] = '{{ semesters[2].grade_id }}';
                            console.log(index2grade_id);

                            layui.use('table', function () {
                                const table = layui.table;
                                table.render({
                                    elem: '#grade_analysis_table_' + data.index
                                    , url: '/api/student/grade/analysis/' + index2grade_id[data.index]
                                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                                    , size: 'sm'
                                    , cols: [[
                                        {field: 'key', title: '', fixed: 'left'},
                                        {field: 'chinese', title: '语文'},
                                        {field: 'match', title: '数学'},
                                        {field: 'english', title: '英语'},
                                        {field: 'physics', title: '物理'},
                                        {field: 'chemistry', title: '化学'},
                                        {field: 'biology', title: '生物'},
                                        {field: 'total', title: '总分'}
                                    ]]
                                });

                            });
                            $(
                                function () {
                                    let chart = echarts.init(
                                        document.getElementById('grade_compared_chart-' + data.index), '{{ theme }}', {renderer: 'canvas'});
                                    $.ajax({
                                        type: "GET",
                                        url: "/charts/grade_compared_chart/" + index2grade_id[data.index],
                                        dataType: 'json',
                                        success: function (result) {
                                            chart.setOption(result);
                                        }
                                    });
                                    $(window).resize(function () {
                                        chart.resize();
                                    });
                                }
                            );
                            $(
                                function () {
                                    const chart = echarts.init(
                                        document.getElementById('ranking_radar_chart-' + data.index), '{{ theme }}', {renderer: 'canvas'});
                                    $.ajax({
                                        type: "GET",
                                        url: "/charts/ranking_radar_chart/" + index2grade_id[data.index],
                                        dataType: 'json',
                                        success: function (result) {
                                            chart.setOption(result);
                                        }
                                    });
                                    $(window).resize(function () {
                                        chart.resize();
                                    });
                                    chart.resize();
                                }
                            )
                        });
                        element.tabChange('{{ semester_name }}', '月考');
                    });
                </script>
            {% endfor %}
        </div>
    </div>
{% endblock %}