{% extends 'base.html' %}
{% block app_content %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    <strong>
                        {{ test.name }}
                    </strong>
                </h1>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout
                    called the hero unit and three supporting pieces of content. Use it as a starting point to create
                    something more unique.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
            <blockquote class="layui-elem-quote">总体一览</blockquote>
            <table class="layui-hide" id="total-table"></table>
            <script>
                layui.use('table', function () {
                    const table = layui.table;
                    table.render({
                        elem: '#total-table'
                        , url: '/api/test/data/total/{{test.test_time}}'
                        , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                        , size: 'sm'
                        , cols: [[
                            {field: 'key', title: ''},
                            {field: 'chinese', title: '语文'},
                            {field: 'match', title: '数学'},
                            {field: 'english', title: '英语'},
                            {field: 'physics', title: '物理'},
                            {field: 'chemistry', title: '化学'},
                            {field: 'biology', title: '生物'},
                            {field: 'total', title: '总分'}
                        ]]
                    });
                });
            </script>
            <blockquote class="layui-elem-quote">分数分布</blockquote>
            {# TODO 表格转九十度 #}
            <table class="layui-hide" id="distributed-table"></table>
            <script>
                layui.use('table', function () {
                    const table = layui.table;
                    table.render({
                        elem: '#distributed-table'
                        , url: '/api/test/data/distributed/{{test.test_time}}'
                        , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                        , size: 'sm'
                        , cols: [[
                            {field: 'key', title: ''},
                            {field: 'chinese', title: '语文人数'},
                            {field: 'match', title: '数学人数'},
                            {field: 'english', title: '英语人数'},
                            {field: 'physics', title: '物理人数'},
                            {field: 'chemistry', title: '化学人数'},
                            {field: 'biology', title: '生物人数'},
                        ]]
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}